* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #110f0f;
    font-family: Arial, sans-serif;
    line-height: 2;
}

nav{
    display:flex;
    color:white;
    font-weight:bolder;
    font-size:1.2em;
    width:100vw;
}

nav div{
    padding: 10px 0;
    flex-grow: 1;
    text-align:center;
    cursor:pointer;
    background-color:#1E1F26;
    transition : all 0.5s ease-out;
}

nav div:hover{
    background-color: #818181;
}

img {
    width: 100%;
}
.img-1 {
    height: 30vh;
    width: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

p,
h2
{
    text-align: center;
}

h1,
h2 {
    font-weight: normal;

}

h1,
h2,
p {
    letter-spacing: 1px;
}

#box1{
    background-color: #2780ab;
    padding: 75px 30px;
    height: 45vh;
}

.button{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;}

#box2{
    background-color: #0bd6b7;
    padding: 75px 30px;
    height: 45vh;
}

#cijfer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    margin-bottom: 20px;
}

header {
    background-image: url(ryan-stone--4kinsFWpFs-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    height: 25vh;

}

.header_text {
    text-align: center;
    color: #2780ab;

    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 30px;
}

.header_text p {
    font-size: 1em;
    margin-bottom: 50px;
}

.header_text h1 {
    line-height: 1.5;
}

#header_button {
    padding: 25px;
    background-color: #5b5b5b;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: padding 0.5s;
}

#header_button:hover {
    padding: 30px;
}

#main_menu {
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: #6e6e6e;
    display: flex;
    list-style-type: none;
}

.menu_link {
    color: white;
    display: block;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    font-size: 0.65em;
}



footer {
    padding: 25px;
    text-align: center;
    border-top: 1px dashed #ff8bc5;
}



@media screen and (min-width: 500px) {
    #main_menu {
        background-color: #6e6e6e;
        );
    }
}

@media screen and (min-width: 660px) {
    section {
        background-color: #2b2b5f;
        padding: 75px;
        border-top: 1px dashed #ff8bc5;
    }

    .header_text h1 {
        font-size: 3em;
        margin-top: 30px;

    }

    p {
        font-size: 1.25em;
    }

    #header_button {
        font-size: 1em;
    }

    .flex_container {
        display: flex;
    }

    .flex_item {
        margin-right: 10px;
    }


    .grid_item {
        grid-column: span 6;
    }
}

@media screen and (min-width: 900px) {
    .grid_item {
        grid-column: span 4;
    }
}

@media screen and (min-width: 1200px) {
    .grid_container {
        width: 80%;
        margin: 20px auto 0 auto;
    }
}
